.idea
*.mbtiles
*.iml
out
vendor
*.crt
*.key
resources/test.key
resources/test.crt

*.key

*.key

*.crt

resources/test.key

resources/test.crt

# documentation
docs/build

node_modules
/orderservice/orderservice
/catalog/catalog-exporter
/catalog/catalog-service
/order/order-service
/deploy/tf/terraform.tfstate
/deploy/tf/terraform.tfstate.backup
